html {
    font-family: 'Roboto', sans-serif;
    background-color: #424949;
    font-size: 16px;
    color: azure;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header .logo {
    float: left;
    margin-left: 3rem;
    max-width: 8rem;
    border-radius: 50%;
    background: #424949;
    box-shadow: 29px 29px 72px #313636, -29px -29px 72px #535c5c;
}

header .logo:active {
    border-radius: 50%;
    background: #424949;
    box-shadow: inset 29px 29px 72px #313636, inset -29px -29px 72px #535c5c;
}

nav {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: azure;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 1.3rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 71px;
    background: #424949;
    box-shadow: 29px 29px 72px #313636, -29px -29px 72px #535c5c;
}

nav li:active {
    border-radius: 71px;
    background: #424949;
    box-shadow: inset 29px 29px 72px #313636, inset -29px -29px 72px #535c5c;
}

.introduction {
    font-size: 2rem;
    font-family: 'Fira Code', monospace;
    text-align: center;
}

.introduction figcaption {
    font-size: 0.3rem;
}

h1 {
    font-family: 'Fira Code', monospace;
    text-align: center;
}

#portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 28%;
    border-radius: 4rem;
    border-radius: 71px;
    box-shadow: 29px 29px 72px #313636, -29px -29px 72px #535c5c;
}

.about-me p {
    display: block;
    text-align: center;
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    display: table-row;
    height: auto;
}

footer img {
    position: absolute;
    width: 1rem;
    height: auto;
    padding-right: .5rem;
    padding-left: .5rem;
}

footer a {
    color: azure;
    text-decoration: none;
    padding-left: 1rem;
}